.profile-modal textarea,
select {
  transition: all 0.2s ease;
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  font-size: 0.9rem;
  transition: border 0.2s;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}
textarea:focus,
select:focus {
  outline: none;
  border-color: #2563eb;
}
